.fullpage {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: calc(20% - 0.5rem);
  padding: 0.5rem;
  background: $c-sideback;
}

.main {
  width: calc(65% - 0.5rem);
  padding: 0.5rem;
  background: blue;
}

.info {
  width: calc(15% - 0.5rem);
  margin: 0;
  padding: 0.5rem;
  border: 0.1rem solid black;
  border-radius: 1rem;
}
