.navbar {
  display: flex;
  padding: 2rem;
  background: $c-primary;

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;

  & a {
    color: $c-white;
    text-decoration: none;
    font-weight: lighter;
    padding: 0 0.3rem;
  }
    &--title {
      display: flex;
      justify-content: flex-start;
      padding: 0 4rem;
      // float: left;
    }
    &--links{
      // float: right;
      padding: 0 4rem;

    }
  }

}
