.sidebar {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  color: $c-primary-text;

  &__title {
    text-align: center;
  }

  &__super-item {
    flex-grow: 1;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 0.1rem solid grey;

    &-title {
      margin: 0;
      font-size: 1rem;
    }

    &-name {
      margin: 0;
      font-size: 0.9rem;
    }

    &-much {
      margin: 0;
      font-size: 0.8rem;
    }
  }

  &__navbox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;

    & a {
      width: 100%;
      color: $c-primary-text;
      text-decoration: none;
    }
  }

}
